{% extends "base.html" %}
{% block title %} 
  修改学生信息
{% end %}

{% block content %} 
	<a href="/coulist">返回学生名单</a>
	<hr>
	<form action="/couedit/{{course['cou_sn']}}" method="post">
    学号：<input type="text" name="cou_no" value="{{course['cou_no']}}"><br>
    姓名：<input type="text" name="name" value="{{course['name']}}"> <br>
    出生日期：<input type="text" name="birth" value="{{course['birth']}}"><br>
    性别：<input type="text" name="gender" value="{{course['gender']}}"><br>
    班级 ：<input type="text" name="class0" value="{{course['class0']}}"><br>
    <input type="submit" value="提交">
    </form>

{% end %}
